

.second-navbar {
 position: fixed;
  top: 0px; 
  width: 100%;
background: linear-gradient(90deg, rgba(252, 174, 200, 0.8), rgba(251, 209, 220, 0.8));
 backdrop-filter: blur(10px);

  z-index: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 25px 20px;
}


.logo img {
  margin: 1;
 font-family: 'Dancing Script', cursive;
  font-optical-sizing:auto;
  font-weight:bold;
  font-size: 30px;
  padding-left: 8px;
  color: #11100f;

}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff66a6;
}

.icons span {
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
  padding-left: 10px;
}



.nav-links a {
  position: relative;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.Home-fixed, .second-navbar {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}



