.pictures-section {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  
 
}

.section-subtitle {
  color: #ec407a;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 1rem;
}

.section-desc {
  color: #666;
  max-width: 650px;
  margin: 0 auto 4rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.pictures-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.picture-card {
  position: relative;
  width: 450px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.picture-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  opacity: 1;
  pointer-events: auto;
}

.picture-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
   
 
}
.overlay {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5); 
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  align-content: center;
}

.picture-card:hover .overlay {
  opacity: 1;
  visibility: visible;
  
  
}


.overlay h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #f0e9e9;
}

.overlay p {
  font-size: 0.95rem;
  color: #ece5e5;
  text-decoration: underline;
  cursor: pointer;
}
